<!-- products/product_edit_modal.html -->
<div class="modal fade" id="productEditModal" tabindex="-1" aria-labelledby="productEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productEditModalLabel">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body will be populated by HTMX when Edit button is clicked -->
            <div class="modal-body" id="product-edit-form-container">
                <!-- Form will be loaded here via HTMX -->
            </div>
        </div>
    </div>
</div>