<!-- sales_app/templates/sales_app/dashboard.html -->
{% extends 'products/base.html' %}

{% block title %}Product List{% endblock %}

{% block pagehead %}Products{% endblock %}

{% block content %}
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                      <h3 class="card-title">Product List</h3>
                    <div class="card-tools">
<!--                      <a href="{% url 'create_product' %}" class="btn btn-success btn-sm">Create</a>-->
                      <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#productModal">Add Product</button>
                    </div>
                  </div>

                    {% include 'products/product/product_form.html' %}

                  <!-- /.card-header -->
                  <div class="card-body">
                      <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Image</th>
                          <th>Name</th>
                          <th>Code</th>
                          <th>Description</th>
                          <th>Unit</th>
                        </tr>
                      </thead>
                      <tbody id="product-table-body">
                        {% for product in products %}
                          {% include "products/partials/product_row.html" %}
                        {% empty %}
                          <tr><td colspan="5">No products yet.</td></tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
{% endblock %}