<!-- products/modal.html -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- We include the form partial as the modal body -->
            <div class="modal-body" id="product-form-container">
                {% include 'products/product/product_form_fields.html' %}
            </div>
        </div>
    </div>
</div>