<!-- sales_app/templates/sales_app/dashboard.html -->
{% extends 'core/base.html' %}

{% block title %}Unit List{% endblock %}

{% block pagehead %}Unit{% endblock %}

{% block content %}
            <div class="row">
              <div class="col-12">
                <div class="card card-warning card-outline mb-4">
                  <!--begin::Header-->
                  <div class="card-header"><div class="card-title">Unit Entry Form</div></div>
                  <!--end::Header-->
                  <!--begin::Form-->
                  <form method="POST">
                      {% csrf_token %}
                    <!--begin::Body-->
                    <div class="card-body">
                      <div class="row mb-3">
                        <label for="unit_name" class="col-sm-2 col-form-label">Unit Name</label>
                        <div class="col-sm-10">
                          <input type="text" name="unit_name" class="form-control" id="unit_name">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="unit_short_name" class="col-sm-2 col-form-label">Unit Short Name</label>
                        <div class="col-sm-10">
                          <input type="text" name="unit_short_name" class="form-control" id="unit_short_name">
                        </div>
                      </div>
                    <!--end::Body-->
                    <!--begin::Footer-->
                        <a href="{% url 'unit_list' %}" class="btn btn-warning">Cancel</a>
                        <button type="submit" class="btn btn-primary float-end">Save</button>
                    <!--end::Footer-->
                  </form>
                  <!--end::Form-->
                </div>
              </div>
            </div>
{% endblock %}