<!-- sales_app/templates/sales_app/dashboard.html -->
{% extends 'core/base.html' %}

{% block title %}Unit Details{% endblock %}

{% block pagehead %}Unit Details{% endblock %}

{% block content %}
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                      <h3 class="card-title">New Unit Created</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <h3>Unit Name: {{ unit.unit_name }}</h3>
                    <h3>Short Name: {{ unit.unit_short_name }}</h3>
                    <p><i>by {{ unit.created_by.username }} on {{ unit.created_at }}</i></p>
                      <a href="{% url 'create_unit' %}" class="btn btn-success btn-sm">Create Another</a>
                      <a href="{% url 'unit_list' %}" class="btn btn-warning btn-sm">Back</a>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
{% endblock %}